:root {
  /* Colores principales */
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --success-color: #198754;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #0dcaf0;
  --light-color: #f8f9fa;
  --dark-color: #212529;

  /* Estilos de texto */
  --font-family: "Arial", sans-serif;
  --font-size-base: 16px;
  --font-size-large: 1.25rem;
  --font-size-small: 0.875rem;
  --line-height: 1.5;
  --text-color: #212529; /* main text */
  --muted-text-color: #6c757d; /* secondary text */
}

/* carousel img-size */
.carousel-inner img {
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}

/* Main container to flip effect */
.card-flip {
  perspective: 1000px;
  width: 20rem;
  height: 20rem;
  position: relative;
}

/* inner container to flip */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* flip the card on hover */
.card-flip:hover .card-inner {
  transform: rotateY(180deg);
}

/* front and back of the card */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* front of the card */
.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

/* back of the card */
.card-back {
  color: var(--primary-color);
  transform: rotateY(180deg);
  text-align: center;
}

.card-back .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* card body */
.card-body {
  padding: 1rem;
  background-color: var(--light-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
